<md-toolbar>
	<div class="md-toolbar-tools">
        <h3 flex>This will fix everything, right?</h3>

		<div ng-if="$ctrl.getUserName()">
			{{$ctrl.getUserName()}}
			<button md-button
					class="md-raised"
					ng-click="$ctrl.logout()">Logout</button>
		</div>

		<div ng-if="!$ctrl.getUserName()">
			<button md-button
					class="md-raised"
					ng-click="$ctrl.login()">
				Login with Facebook
			</button>
		</div>
	</div>
</md-toolbar>

<md-list ng-if="$ctrl.getUserName()">
	<md-list-item layout-padding>
		&nbsp;&nbsp;<img ng-src="{{$ctrl.getUserData().picture.data.url}}"></img>

		<span layout="column" flex>
			<a ng-href="{{$ctrl.getUserLink()}}" target="_blank">
				{{$ctrl.getUserName()}}
			</a>
	        <span class="md-caption" flex>{{$ctrl.getMyNote()}}</span>
		</span>

		<span>
			<md-input-container>
				<label>Text for under your name</label>
				<input ng-model="$ctrl.myNoteText" style="width:400px;">
			</md-input-container>
		  	<md-button class="md-raised" aria-label="Save note" ng-click="$ctrl.setNote()">
		  		Save
		  	</md-button>
	  	</span>
	</md-list-item>
	<md-list-item ng-repeat="friend in $ctrl.friends" layout-padding>
		<img ng-src="{{friend.picture.data.url}}"></img>&nbsp;&nbsp;&nbsp;&nbsp;

		<span layout="column" flex>
			<a ng-href="{{friend.link}}" target="_blank">
				{{friend.name}}
			</a>
	        <span class="md-caption">{{$ctrl.getNote(friend.id)}}</span>
		</span>

		&nbsp;&nbsp;

		<span ng-repeat="relationType in $ctrl.relationTypes" layout="row">
			&nbsp;&nbsp;
			<div layout="column">
				{{relationType.text}}
				&nbsp;
				<!--<span class="md-caption">
                    lastReciprocated: {{$ctrl.lastReciprocated(friend.id, relationType.type)[0].datetime}}
                    </span>-->
			</div>
			<md-checkbox ng-click="$ctrl.toggleRelation(friend.id, relationType.type)"
					ng-checked="$ctrl.shouldBeChecked(friend.id, relationType.type)"
					ng-class="{
							'needs-saving': $ctrl.needsSaving(friend.id, relationType.type),
							'is-checked': $ctrl.shouldBeChecked(friend.id, relationType.type),
							'is-reciprocated': $ctrl.getRelation(friend.id, relationType.type).reciprocated,
						}"
					aria-label="relationType"></md-checkbox>
		</span>
	</md-list-item>
</md-list>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="bottom-bar md-whiteframe-1dp">
  <div class="md-toolbar-tools" style="position:fixed; width:100%; bottom:0; background:white; font:16px;">

    <span flex></span>
    <md-button class="md-raised md-primary"
    		aria-label="Submit"
    		ng-click="$ctrl.submitSelections()"
    		ng-class="{'submit-needed': $ctrl.doesSomethingNeedSaving(),
    					'submit-not-needed': !$ctrl.doesSomethingNeedSaving()}">
      	Submit selections
    </md-button>
    &nbsp;&nbsp;&nbsp;
  </div>
</div>
