

md-checkbox.is-checked .md-icon {
	background-color: blue !important;
}

.needs-saving.is-checked .md-icon,
.needs-saving .md-icon {
	background-color: lightblue !important;
}

.submit-not-needed {
	background-color: lightgrey !important;
}

.submit-needed {
	background-color: blue !important;
}

md-checkbox.is-reciprocated .md-icon {
	background-color: #08eb00 !important;
}

.colored-row {
	background-color: rgba(50,0,250,.07);
}

md-checkbox {
	margin-bottom: 0 !important;
}