<md-toolbar layout="row">
	<div class="md-toolbar-tools" layout="row" layout-align="end center" flex>
		<div ng-if="$ctrl.getUserName()">
			{{$ctrl.getUserName()}}
			<button md-button
					class="md-raised"
					ng-click="$ctrl.logout()">Logout</button>
		</div>
	</div>
</md-toolbar>
<br>
<div>
	<div layout="column" layout-align="center center">
		<div>
			What would you like to do with which friends, if you knew that they wanted to?<br>
		</div>
	</div>

	<div layout="column" layout-align="center center">
		<div> Select. Press
			<md-button style="line-height: 24px;min-height: 24px;margin-left: -1px;margin-right: 0;"
					class="md-raised md-primary"
		    		aria-label="Submit"
		    		ng-click="$ctrl.submitSelections()"
		    		ng-disabled="!$ctrl.doesSomethingNeedSaving()"
		    		ng-attr-title="Check some boxes to begin your journey"
		    		ng-class="{'submit-needed': $ctrl.doesSomethingNeedSaving()}">
		    	<md-tooltip md-direction="top">Submit your selections to enable reciprocation</md-tooltip>
		      	Submit selections
		    </md-button>. Find out if they reciprocate.

			(<md-checkbox ng-checked="true" class="is-checked katjas-boxes"></md-checkbox> = not yet,
			<md-checkbox ng-checked="true" class="is-checked is-reciprocated katjas-boxes"></md-checkbox> = yes)
		</div>

		<div>
			If they never reciprocate, nobody knows you tried.
		</div>

		<div style="margin-top: 10px;">
			If they do, you can do it!
		</div>
	</div>
</div>


<div ng-if="!$ctrl.getUserName()" layout="row" layout-align="center center">
	<br><br><br><br>
	<br><br><br><br>
	<br><br><br><br>
	<button md-button
			class="md-raised md-primary"
			ng-click="$ctrl.login()">
		Login with Facebook
	</button>
</div>

<md-list ng-if="$ctrl.getUserName()">
	<md-list-item>
		<div layout="column" layout-align="start start"
				layout-gt-sm="row" layout-align-gt-sm="start center"
				layout-padding flex>
			<span layout="row" layout-align="start center" flex>
				<img ng-src="{{$ctrl.getUserData().picture.data.url}}"></img>

				&nbsp;&nbsp;&nbsp;

				<span layout="column" flex>
					<a ng-href="{{$ctrl.getUserLink()}}" target="_blank">
						{{$ctrl.getUserName()}}
					</a>
			        <span class="md-caption" flex>{{$ctrl.getMyNote()}}</span>
				</span>
			</span>

			<span layout="row" layour-align="end center">
				<form style="padding-top:0" flex>
					<md-input-container>
						<label>Anything people should know?</label>
						<input ng-model="$ctrl.myNoteText" style="width:200px">
					</md-input-container>
				  	<md-button type="submit" class="md-raised" aria-label="Save note" ng-click="$ctrl.setNote()">
				  		Save
				  	</md-button>
			  	</form>
		  	</span>
	  	</div>
	</md-list-item>
	<md-list-item ng-repeat="friend in $ctrl.friends"
			ng-class="{'colored-row': ($index + 1) % 2}">
		<div layout="column" layout-align="start start"
				layout-gt-sm="row" layout-align-gt-sm="start center"
				layout-padding flex>
			<div layout="row" layout-align="start center" flex>
				<img ng-src="{{friend.picture.data.url}}"></img>

				&nbsp;&nbsp;&nbsp;

				<span layout="column" flex>
					<a ng-href="{{friend.link}}" target="_blank">
						{{friend.name}}
					</a>
			        <span class="md-caption">{{$ctrl.getNote(friend.id)}}</span>
				</span>
			</div>

			<div layout="row" layout-align="end center" flex>
				<span ng-repeat="relationType in $ctrl.relationTypes">
					&nbsp;&nbsp;
					{{relationType.text}}
					&nbsp;
					<md-checkbox ng-click="$ctrl.toggleRelation(friend.id, relationType.type)"
							ng-checked="$ctrl.shouldBeChecked(friend.id, relationType.type)"
							ng-class="{
									'needs-saving': $ctrl.needsSaving(friend.id, relationType.type),
									'is-checked': $ctrl.shouldBeChecked(friend.id, relationType.type),
									'is-reciprocated': $ctrl.getRelation(friend.id, relationType.type).reciprocated,
								}"
							aria-label="relationType"></md-checkbox>
				</span>
			</div>
		</div>
	</md-list-item>
</md-list>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="bottom-bar md-whiteframe-1dp" ng-if="$ctrl.getUserName()">
  <div class="md-toolbar-tools" style="position:fixed; width:100%; bottom:0; background:white; font:16px;">

    <span flex></span>
    <md-button class="md-raised md-primary"
    		aria-label="Submit"
    		ng-click="$ctrl.submitSelections()"
    		ng-disabled="!$ctrl.doesSomethingNeedSaving()"
    		ng-attr-title="Check some boxes to begin your journey"
    		ng-class="{'submit-needed': $ctrl.doesSomethingNeedSaving()}">
    	<md-tooltip md-direction="top">Submit your selections to enable reciprocation</md-tooltip>
      	Submit selections
    </md-button>
    &nbsp;&nbsp;&nbsp;
  </div>
</div>
