

md-checkbox.is-checked .md-icon {
	background-color: blue !important;
}

.needs-saving.is-checked .md-icon,
.needs-saving .md-icon {
	background-color: lightblue !important;
}

.submit-not-needed {
	background-color: lightgrey !important;
}

.submit-needed {
	background-color: blue !important;
}

md-checkbox.is-reciprocated .md-icon {
	background-color: green !important;
}