<md-toolbar>
	<div class="md-toolbar-tools">
		<h3 flex>This will fix everything, right?</h3>

		<div ng-if="$ctrl.getUserName()">
			{{$ctrl.getUserName()}}
			<button md-button
					class="md-raised"
					ng-click="$ctrl.logout()">Logout</button>
		</div>

		<div ng-if="!$ctrl.getUserName()">
			<button md-button
					class="md-raised"
					ng-click="$ctrl.login()">
				Login with Facebook
			</button>
		</div>
	</div>
</md-toolbar>

<md-list>
	<md-list-item ng-repeat="friend in $ctrl.friends" layout-padding>
		<img ng-src="{{friend.picture.data.url}}"></img>&nbsp;&nbsp;

		<span layout="column" flex>
			<a ng-href="{{friend.link}}" target="_blank">
				{{friend.name}}
			</a>
	        <span class="md-caption" flex>{{$ctrl.getNote(friend.id)}}</span>
		</span>

		&nbsp;&nbsp;

		<span ng-repeat="relationType in $ctrl.relationTypes" layout="row">
			&nbsp;&nbsp;
			<div layout="column">
				{{relationType.text}}
				&nbsp;
				<span class="md-caption">
					<!-- needsSaving: {{$ctrl.needsSaving(friend.id, relationType.type)}}
					relation: {{$ctrl.getRelation(friend.id, relationType.type)}} -->
					lastReciprocated: {{$ctrl.lastReciprocated(friend.id, relationType.type)[0].datetime | relativeDateTime}}
				</span>
			</div>
			<md-checkbox ng-click="$ctrl.toggleRelation(friend.id, relationType.type)"
					ng-checked="$ctrl.shouldBeChecked(friend.id, relationType.type)"
					ng-class="{
							'needs-saving': $ctrl.needsSaving(friend.id, relationType.type),
							'is-checked': $ctrl.shouldBeChecked(friend.id, relationType.type)
						}"
					aria-label="relationType"></md-checkbox>
		</span>
	</md-list-item>
</md-list>

<br>
<br>
<br>
<br>
<br>
<br>

<div class="bottom-bar md-whiteframe-1dp">
  <div class="md-toolbar-tools" style="position:fixed; width:100%; bottom:0; background:white; font:16px;">
	<input ng-model="$ctrl.myNoteText" placeholder="Say something under your name?" style="width:400px; font:16px;">
  	<md-button class="md-raised" aria-label="Save note" ng-click="$ctrl.setNote()">
  		Save
  	</md-button>

    <span flex></span>
    <md-button class="md-raised md-primary"
    		aria-label="Submit"
    		ng-click="$ctrl.submitSelections()"
    		ng-class="{'submit-needed': $ctrl.doesSomethingNeedSaving()}">
      	Submit selections
    </md-button>
    &nbsp;&nbsp;&nbsp;
  </div>
</div>
